html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px;
  width: 90%;
  margin: 20px;
}

.cell {
  border: 1px solid #aaa;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.symbol {
  flex: 2;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
  background: #fee;
}

.number {
  flex: 1;
  font-size: 14px;
  padding-top: 5px;
}
